<div class="container">
  <h1>Kontak Kami</h1>
  <p>Kami bisa dihubungi melalui:</p>

  <ul>
    <li>
      <a href="https://instagram.com/ktom.official" target="_blank" rel="noopener noreferrer"> Instagram KTO Matematika </a>
      (paling cepat respon)
    </li>

    <li>
      <a
        href="https://www.facebook.com/KTOMatematika"
        target="_blank"
        rel="noopener noreferrer"
      >
        Facebook KTO Matematika
      </a>
    </li>

    <li>
      <a
        href="https://discord.gg/dE9nUCVsSD"
        target="_blank"
        rel="noopener noreferrer"
      >
        Discord KTO Matematika
      </a>
    </li>

    <li>
      <a
        href="https://mailhide.io/e/0FBPkXpu"
        onclick="window.open('https://mailhide.io/e/0FBPkXpu', '',
          'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=640');
          return false;"
        title="Reveal this e-mail address"
      >
        Klik ini untuk mengetahui email kami
      </a>
    </li>
  </ul>
</div>
