/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --color-red: #e53333;
  --color-blue: #337fff;
  --color-green: #33b24c;
  --color-yellow: #ffb200;
}

html,
body {
  height: 100%;
}

body {
  --accent: var(--color-red);

  --accent-l5: hsl(from var(--accent) h s calc(l + 5));
  --accent-l10: hsl(from var(--accent) h s calc(l + 10));
  --accent-l15: hsl(from var(--accent) h s calc(l + 15));
  --accent-l20: hsl(from var(--accent) h s calc(l + 20));

  --accent-d5: hsl(from var(--accent) h s calc(l - 5));
  --accent-d10: hsl(from var(--accent) h s calc(l - 10));

  background: #f3f3ee;
  font-size: 18px;
  font-weight: 100;
  font-family: "museo-sans", sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;

  /* padding-top: 90px; */

  &.accent-red {
    --accent: var(--color-red);
  }

  &.accent-blue {
    --accent: var(--color-blue);
  }

  &.accent-green {
    --accent: var(--color-green);
  }

  &.accent-yellow {
    --accent: var(--color-yellow)
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;

  &,
  p {
    line-height: 1.45;
  }
}

h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2.0em;
}

h3,
.h3 {
  font-size: 1.5em;
}

h4,
.h4 {
  font-size: 1.3em;
}

h5,
.h5 {
  font-size: 1em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top:20px;
  margin-bottom:10px
}

p {
  margin: 0 0 10px;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eeeeee;
  font-size: inherit;

  &.blockquote-reverse {
	  padding-right: 15px;
	  padding-left: 0;
	  text-align: right;
	  border-right: 5px solid #eeeeee;
	  border-left: 0;
  }

  footer {
    font-size: 0.8em;
	  display: block;
	  color: #777777;

    &::before {
	    content: "\2014 \00A0";
    }
  }
}

/* copied from old website bootstrap for consistency */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 970px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }
}
